{% extends "base.html" %}

{% block title %}Login - Gaming Database{% endblock %}

{% block content %}
    <div class="formcontainer">
        <div class="form-container">
            <h2>Login to Your Account</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" required>
                </div>

                <button type="submit" class="btn">Login</button>
            </form>

            <p class="redirect-text">Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert">
                    <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
